$font-heading: Brush Script MT;
$font-title: Grammond;
$font-description: sans-serif;
$font-price: Arial;
$font-ratings: fantasy;
$border-active: 1px solid lightgray;
$block-background-color: rgb(252, 250, 250);
$button-links-hover-color: rgb(0, 92, 62);
$desktop-width: 992px;
$tablet-width: 992px;
$phone-width: 768px;